* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.container {
  border: 1px solid red;
  width: 100%;
  height: 800px;
  padding: 200px;
  background-color: #4bb1d5;
}
.keyboard {
  /* border: 1px solid black; */
  width: 95%;
  height: 95%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: #262b2c;
  gap: 15px;
  padding: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
}
.key {
  /* border: 1px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  color: rgb(118, 187, 229);
  background-color: #2e3536;
}
.key:nth-child(35),
.key:nth-child(46) {
  /* background-color: bisque; */
  grid-column: span 2;
}
.space {
  /* background-color: bisque; */
  grid-column: span 4;
}
